 <%- include("partials/header")%>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <a href="/products/Samsung Galaxy S21 Ultra">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://m.media-amazon.com/images/I/917nPCOw9-L._AC_UF1000,1000_QL80_.jpg" class="d-block w-10 samsung" alt="...">
        <h2 class="carousel-content">Samsung Galaxy S21 Ultra</h2>  
    </div>
  </a>
  <a href="/products/Apple AirPods Pro">
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MME73?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1632861342000" class="d-block w-10" alt="...">
        <h2 class="carousel-content">Apple AirPods Pro</h2> 
    </div>
  </a>
  <a href="/products/Acer Predator Helios 300  ">
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/71Xk9qt6IwL.jpg" class="d-block w-10" alt="...">
        <h2 class="carousel-content">Acer Predator Helios 300
        </h2>
    </div>
  </a>
  <a href="/products/Hitachi 2 Ton 5 Star Inverter Split AC  ">
      <div class="carousel-item">
        <img src="https://i.gadgets360cdn.com/products/2-ton-inverter-split-ac-kashikoi-5200i-rmb524aaea-large-16168-13636-1584394656.jpg" class="d-block w-10" alt="...">
        <h2 class="carousel-content">Hitachi 2 Ton 5 Star Inverter Split AC
        </h2> 
    </div>
  </a>
  <a href="/products/LG 50-inch 4K UHD Smart TV">
    <div class="carousel-item">
      <img src="https://static.wixstatic.com/media/94060f_36e2bf1087904b0c962ef69d05dc85d3~mv2.png/v1/fit/w_500,h_500,q_90/file.png" class="d-block w-10" alt="...">
      <h2 class="carousel-content">LG 50-inch 4K UHD TV</h2> 
  </div>
</a>
<a href="/products/Samsung 6.0 kg Fully-Automatic 5 Star Front Loading Washing Machine">
  <div class="carousel-item">
    <img src="https://www.reliancedigital.in/medias/Samsung-WW60R20GLSS-TL-FAFL-492864817-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3wyNTIxM3xpbWFnZS9qcGVnfGltYWdlcy9oMDIvaGNkLzk4MTMxNDMwOTMyNzguanBnfDI0ZTQ2NTZhNDU2ZDk5ZDc0ZmNjNzE3NDdiODg1MDU0NTM4YTFkMTkxMDgwNzgzZmFjYzdkNDcyNjI4NmJiNTE" class="d-block w-10" alt="...">
    <h2 class="carousel-content">Samsung 6.0 kg 5 Star <br> Washing Machine</h2> 
</div>
</a>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<%- include("partials/footer")%>

