<%- include('partials/header') %>
<div class="container mt-5">
  <div class="alert alert-info text-center">
    <p><%= message %></p>
  </div>
  <div class="text-center">
    <a href="/" class="btn btn-primary">Go to Home</a>
  </div>
</div>
<%- include('partials/footer') %> 

